# Practice for Pandas Dataframes & Series

1. Load the file `WorldCupMatches.csv` as a DataFrame in pandas.

In [72]:
# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

2. Use the correct method to display the first 7 rows of the dataset.

In [73]:
# Display the first 7 rows of df
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

3. Display the last 3 rows of the dataset.

In [74]:
# Display the last 3 rows of df
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

4. Get a concise summary of the data using `.info()`.

In [75]:
# Print a concise summary of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

5. Obtain a tuple representing the number of rows and number of columns.

In [76]:
# Display the number of rows and columns in df
df.shape

(852, 20)

6. Use the appropriate attribute to get the column names.

In [77]:
# Display the column names of df
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

7. When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.
Use the right selection method to display all the information from the 3rd to the 5th game (i.e. select rows 3 through 5 inclusive).

In [78]:
# Your code here
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

8. Now, display the info from games labeled 5-9 in the index (inclusive), but only the "Home Team Name" and the "Away Team Name" columns.

In [79]:
# Your code here
df.loc[5:9, ["Home Team Name", "Away Team Name"]]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

9. Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.
Hint: You can combine conditions like this:
- df[(condition1) | (condition2)] -> Returns rows where either condition is true
- df[(condition1) & (condition2)] -> Returns rows where both conditions are true

In [80]:
# Display all info for games played in 1950 for Group 3
df[(df["Year"] == 1950) & (df["Stage"] == "Group 3")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

10. Let's repeat the command above, but this time display only the attendance column for the Group 3 games.

In [81]:
# Your code here
df.loc[(df["Year"] == 1950) & (df["Stage"] == "Group 3"), "Attendance"]

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

11. Throughout the entire history of the World Cup as recorded in this dataset, how many home games were played by the Netherlands?
(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [82]:
# Your code here
neth_home = len(df[df["Home Team Name"] == ("Netherlands")])
neth_home

32

12. How many games were played by the Netherlands in total?

In [83]:
# Your code here
len(df[df["Away Team Name"] == ("Netherlands")]) + neth_home

54

13. Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [84]:
# Your code here
len(df[((df['Home Team Name'] == 'USA') | 
        (df['Away Team Name'] == 'USA')) & 
        (df['Year'] == 2014)])

5

14. The Match ID is a unique match identifer for international games:
- set this to the index and inspect the head to verify changes.

In [85]:
# Your code here
df.set_index('MatchID', inplace = True)
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,Home Team Initials,Away Team Initials
MatchID,,,,,,,,,,,,,,,,,,,
1096,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX
1090,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,USA,BEL
1093,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,YUG,BRA
1098,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,ROU,PER
1085,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,ARG,FRA

15. Select data from Home Team Name to Half-time Away Goals for Match ID 1085. Use slicing here:

In [86]:
 # Your code here
df.loc[1085, "Home Team Name":"Half-time Away Goals"]

Home Team Name          Argentina
Home Team Goals                 1
Away Team Goals                 0
Away Team Name             France
Win conditions
Attendance                23409.0
Half-time Home Goals            0
Half-time Away Goals            0
Name: 1085, dtype: object

16. Reset the index back to integer index and move the `MatchID` back to a column in the DataFrame.

In [87]:
 # Your code here
df.reset_index(inplace = True)

17. For your analysis, you realized that you don't need information on Referee Assistants and Win Conditions. Remove these columns and modify the original dataframe in-place. Print the column list to verify that these changes have taken place.

In [88]:
 # Your code here
df.drop(columns = ["Assistant 1", "Assistant 2", "Win conditions"], inplace = True)
df.columns

Index(['MatchID', 'Year', 'Datetime', 'Stage', 'Stadium', 'City',
       'Home Team Name', 'Home Team Goals', 'Away Team Goals',
       'Away Team Name', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'RoundID', 'Home Team Initials',
       'Away Team Initials'],
      dtype='object')

18. Check the data type of the DateTime column using the appropriate Series method.

In [89]:
 # Your code here
df["Datetime"].dtype

dtype('O')

19. The dtype 'O' is the object data type. Here it is indicating that we have a column of strings. Now, convert this column to a datetime data type and make sure the changes are administered to the original dataframe df:
- the string formatting for datetimes in this column are not all exactly the same (i.e. they are mixed)
use the 'mixed' option for the format keyword argument in the pandas conversion function.

In [90]:
 # Your code here
df["Datetime"] = pd.to_datetime(df["Datetime"], format= 'mixed')
df["Datetime"].head()

0   1930-07-13 15:00:00
1   1930-07-13 15:00:00
2   1930-07-14 12:45:00
3   1930-07-14 14:50:00
4   1930-07-15 16:00:00
Name: Datetime, dtype: datetime64[ns]

20. In World Cup history, how many matches had 5 goals or more in total? First, create a new column "Total Goals".

In [91]:
 # Your code here
df["Total Goals"] = df["Home Team Goals"] + df["Away Team Goals"]

21. Filter the dataset based on the "Total Goals" column and save it to a new dataframe `high_score_df`. Then get the number of matches satisfying the above condition.

In [92]:
# Your code here
high_score_df = df[df['Total Goals'] >= 5]
len(high_score_df)

147

22. In the dataframe df, create a new column "High_Total_Score" that has value 0 if the total number of goals in a match was less than 5 and 1 if the there were 5 or more goals scored in total.

In [93]:
# Your code here
df['High_Total_Score'] = (df['Total Goals'] >= 5).astype('int')

print(df['High_Total_Score'].head())

0    1
1    0
2    0
3    0
4    0
Name: High_Total_Score, dtype: int64

23. Now create a new column "Half-time Goals" in df that includes both home and away values.

In [94]:
# Your code here
df['Half-time Goals'] = df['Half-time Home Goals'] + df['Half-time Away Goals']
df.columns

Index(['MatchID', 'Year', 'Datetime', 'Stage', 'Stadium', 'City',
       'Home Team Name', 'Home Team Goals', 'Away Team Goals',
       'Away Team Name', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'RoundID', 'Home Team Initials',
       'Away Team Initials', 'Total Goals', 'High_Total_Score',
       'Half-time Goals'],
      dtype='object')

24. Select all records that contain matches where North-Korea (Korea DPR) and South-Korea (Korea Republic) were involved.

In [95]:
# Your code here
df.loc[df['Home Team Name'].str.contains('Korea') | df['Away Team Name'].str.contains('Korea')].head()

,MatchID,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,RoundID,Home Team Initials,Away Team Initials,Total Goals,High_Total_Score,Half-time Goals
80,1294,1954,1954-06-17 18:00:00,Group 2,Hardturm,Zurich,Hungary,9,0,Korea Republic,13000.0,4,0,VINCENTI Raymond (FRA),211,HUN,KOR,9,1,4
88,1304,1954,1954-06-20 17:00:00,Group 2,Charmilles,Geneva,Turkey,7,0,Korea Republic,4000.0,4,0,MARINO Esteban (URU),211,TUR,KOR,7,1,4
171,1710,1966,1966-07-12 19:30:00,Group 4,Ayresome Park,Middlesbrough,Soviet Union,3,0,Korea DPR,23006.0,2,0,GARDEAZABAL Juan (ESP),238,URS,PRK,3,0,2
179,1609,1966,1966-07-15 19:30:00,Group 4,Ayresome Park,Middlesbrough,Korea DPR,1,1,Chile,13792.0,0,1,KANDIL Aly Hussein (EGY),238,PRK,CHI,2,0,1
187,1679,1966,1966-07-19 19:30:00,Group 4,Ayresome Park,Middlesbrough,Korea DPR,1,0,Italy,17829.0,1,0,SCHWINTE Pierre (FRA),238,PRK,ITA,1,0,1

25. Calculate the average number of goals South Korea (Korea Republic) scored when it was the Home Team. Save this to a variable mean_home_SK.

In [96]:
# Your code here
mean_home_SK = df.loc[df['Home Team Name'] == 'Korea Republic',  'Home Team Goals'].mean()
mean_home_SK

np.float64(1.2857142857142858)

26. Also estimate the average spread on this by calculating the standard deviation. Save the standard deviation to a variable std_home_SK.

In [97]:
# Your code here
std_home_SK = df.loc[df['Home Team Name'] == 'Korea Republic',  'Home Team Goals'].std(ddof=1)
std_home_SK

0.8254203058555569

27. What is the maximum number of goals that North Korea has scored when it has been away?

In [98]:
# Your code here
max_away_NK = df.loc[df['Away Team Name'] == 'Korea DPR',  'Away Team Goals'].max()
max_away_NK

3

28. Get the average attendance, home team goals, away team goals, and total goals scored over all home games for South Korea:

In [99]:
# Your code here
df.loc[df['Home Team Name'] == 'Korea Republic',  ['Attendance', 'Home Team Goals', 'Away Team Goals', 'Total Goals']].mean()

Attendance         43969.714286
Home Team Goals        1.285714
Away Team Goals        1.571429
Total Goals            2.857143
dtype: float64

29. Does South Korea's scoring indicate that it benefits strongly from home advantage?

Your answer here.

30. Get a list of the unique teams that South Korea has played when it has been on the road.

In [100]:
# Your code here
df.loc[df['Away Team Name'] == 'Korea Republic',  'Home Team Name'].unique()

array(['Hungary', 'Turkey', 'Argentina', 'Belgium', 'Spain', 'Germany',
       'Netherlands', 'Portugal', 'France', 'Switzerland', 'Nigeria',
       'Uruguay', 'Russia'], dtype=object)

31. Create a Series with the teams that South Korea has played against and the number of matches against each team in the dataset -- when South Korea has been away. Save this in a variable 'away_match_teamcount'.

In [101]:
# Your code here
away_match_teamcount = df.loc[df['Away Team Name'] == 'Korea Republic',  'Home Team Name'].value_counts()
away_match_teamcount

Home Team Name
Argentina      2
Spain          2
Belgium        2
Germany        2
Hungary        1
Turkey         1
Netherlands    1
Portugal       1
France         1
Switzerland    1
Nigeria        1
Uruguay        1
Russia         1
Name: count, dtype: int64